/.phpunit.cache
/node_modules
/public/build
/public/uploads/*
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.phpactor.json
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.nova
/.vscode
/.history
/.idea
/.zed
/docker/mysql_data
/docker/redis_data
composer.lock
/vendor
tests/Browser/Screenshots
storage/media-library/temp/*
